/*
    Nombre estudiante: Germán A. Riveros Sepúlveda.
    Generación: 14.
    Jornada: Vespertina.
    Desafío: Viajes Chile.
    Enlace del proyecto: https://german-rs.github.io/ViajesChile/
*/

/* Configuraciones generales. */
body * {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #30c5d2, #471069);
    color: var(--primary-text);
}

html {
    scroll-behavior: smooth;
}

/* Colores. */
:root {
    --black: #212121;
    --primary-text: #fafafa;
    --secondary-text: #EEEEEE;
    --accent-color: #FF5722;
    --primary-color: #2c9ca7;
    --darkprimary: #0097A7;
    --lightprimary: #B2EBF2;
}

.titulo-h1 {
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.titulo-h2 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    font-weight: 500;
}

/* Fin configuraciones generales. */


/* Barra de navegación. */
.glass-navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar-brand img {
    width: 50px;
    height: auto;
}

.navbar-brand {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.navbar-transparente {
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.5s ease;
}

.navlink-cambio-color {
    color: var(--primary-text);
    font-weight: 800;
    transition: font-weight 0.5s ease-in;
}
/* Fin barra de navegación. */


/* Sección de héroe. */

/* Animación h1. */
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

header h1 {
    opacity: 0;
    animation: fadeInScale 2s ease-in forwards;
}
/* Sección de héroe. */


/* Carousel. */
#carouselExampleControls {
    width: 100%;
}

.glassmorphism-carousel {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
}

.carousel-item img {
    border-radius: 15px;
}

.mt-custom {
    margin-top: 8rem;
}

/* Animación Carrusel. */
@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.2);
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
    }
}

.show {
    animation: slideUpFadeIn 2s ease-in forwards;
}
/* Fin carousel. */


/* Quienes somos. */
.info-somos {
    width: 26rem;
    height: auto;

    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.div-icon {
    width: 100%;
    border-radius: 16px;
}
/* Fin quienes somos. */


/* Destacados. */
.card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-top-img {
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
}


.scale-card {
    transition: transform 1s ease; 
}

.scale-card:hover {
    transform: scale(0.7);
}


/* Fin destacados. */


/* Contacto. */
.formulario {
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

#contacto form button {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

#contacto form button:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.formulario .form-control {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    padding: 10px 20px;
    color: #fff;
}
/* Fin contacto. */


/* Footer. */
footer {
    width: 100%;
    height: auto;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    color: #fff;
}

.envoltorio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer img{
    width: 50px;
    height: auto;
}

footer .pie_pg {
    width: 250px;
}

/* Fin footer. */


/* Contenedor principal. */
.contenedor {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 800px) {
    #quienes-somos {
        display: none;
    }
    .envoltorio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* xs */
@media (min-width: 475px) {
    .contenedor {
        max-width: 475px;
    }
}

/* sm. */
@media (min-width: 640px) {
    .contenedor {
        max-width: 640px;
    }
}

/* md. */
@media (min-width: 768px) {
    .contenedor {
        max-width: 768px;
    }
}

/* lg. */
@media (min-width: 1024px) {
    .contenedor {
        max-width: 1024px;
    }
}

/* xl. */
@media (min-width: 1280px) {
    .contenedor {
        max-width: 1280px;
    }
}

/* 2xl. */
@media (min-width: 1536px) {
    .contenedor {
        max-width: 1536px;
    }
}