/*
    Nombre estudiante: Germán A. Riveros Sepúlveda.
    Generación: 14.
    Jornada: Vespertina.
    Desafío: Viajes Chile.
*/

/* Configuraciones generales. */
body *{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: "Lexend Deca",sans-serif;
    font-weight: 300;
    background: var(--black);
    color: var(--primary-text);
}

html{
    scroll-behavior: smooth;
}

/* Colores. */
:root{
    --black: #212121;
    --primary-text: #fafafa;
    --secondary-text: #EEEEEE;
    --accent-color: #FF5722;
    /* --primary-color: #00bcd4; */
    --primary-color: #2c9ca7;
    --darkprimary: #0097A7;
    --lightprimary: #B2EBF2;
}

.titulo-h1{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.titulo-h2{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    font-weight: 500;
}
/* Fin configuraciones generales. */


/* Barra de navegación. */
.navbar{
    background: var(--primary-color);
}

.navbar-brand img{
    width: 50px;
    height: auto;
}

.navbar-brand{
   font-family: "Nunito", sans-serif;
   font-weight: 600;
}

.navbar-transparente{
    background-color: rgba(255, 255, 255, 0.4); /* Color blanco con 40% de transparencia */
    transition: background-color 0.5s ease; 
}

.navlink-cambio-color{
    color: var(--darkprimary);
    font-weight: 600;
    transition: font-weight 0.5s ease-in; 
}

/* Fin barra de navegación. */

/* Carousel. */
#carouselExampleControls{
    width: 100%;
}
/* Fin carousel. */

/* Quienes somos. */
.info-somos{
    width: 25rem;
    height: auto;
} 

.div-icon{
    background-color: var(--primary-color);
}
/* Fin quienes somos. */


/* Destacados. */
.card-body{
    background: var(--darkprimary);
}
/* Fin destacados. */



/* Contacto. */
#contacto form button{
    background: var(--primary-color);
}
/* Fin contacto. */


/* Footer. */
footer{
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
   
}

.envoltorio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .pie_pg{
    width: 200px;
}
/* Fin footer. */

.contenedor {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }


@media (max-width: 800px) {
    #quienes-somos{
        display: none;
    }

}


/* xs */
@media (min-width: 475px) {
    .contenedor {
        max-width: 475px;
      }

}

/* sm. */
@media (min-width: 640px) {
    .contenedor {
        max-width: 640px;
      }

}

/* md. */
@media (min-width: 768px) {
    .contenedor {
        max-width: 768px;
      }
}

/* lg. */
@media (min-width: 1024px) {
    .contenedor {
        max-width: 1024px;
      }
}

/* xl. */
@media (min-width: 1280px) {
    .contenedor {
        max-width: 1280px;
      }
}

/* 2xl. */
@media (min-width: 1536px) {
    .contenedor {
        max-width: 1536px;
      }
}


